{% props
    type = 'button',
%}

<button
    type="{{ type }}"
    data-slot="tooltip-trigger"
    class="{{ cn(attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
