{% props
    type = 'button',
%}

<button
    type="{{ type }}"
    data-slot="hover-card-trigger"
    class="{{ cn(attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</button>
