<div
    data-slot="alert-title"
    class="{{ cn("col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight", attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
