<div
    data-slot="empty-content"
    class="{{ cn('flex w-full max-w-sm min-w-0 flex-col items-center gap-4 text-sm text-balance', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
