{% props
    orientation = 'horizontal',
    decorative = true,
%}

<div
    data-slot="item-separator"
    data-orientation="{{ orientation }}"
    class="{{ cn(
        'my-0 bg-border shrink-0 data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:h-full data-[orientation=vertical]:w-px',
        attributes.render('class')
    ) }}"
    {% if decorative %}
        role="none"
        aria-hidden="true"
    {% else %}
        role="separator"
        aria-orientation="{{ orientation }}"
    {% endif %}
    {{ attributes }}
></div>
