<div
    data-slot="item-title"
    class="{{ cn('flex w-fit items-center gap-2 text-sm leading-snug font-medium', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
