{% props
    open = false,
%}

{% set state = open ? 'open' : 'closed' %}

<div
    data-slot="alert-dialog"
    data-controller="ui--alert-dialog"
    data-state="{{ state }}"
    data-ui--alert-dialog-open-value="{{ open ? 'true' : 'false' }}"
    class="{{ cn(attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
