<div
    data-slot="avatar"
    class="{{ cn('relative flex size-8 shrink-0 overflow-hidden rounded-full', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
