<span
    data-slot="breadcrumb-page"
    role="link"
    aria-disabled="true"
    aria-current="page"
    class="{{ cn('text-foreground font-normal', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>
