<span
    data-slot="dropdown-menu-shortcut"
    class="{{ cn('text-muted-foreground ml-auto text-xs tracking-widest', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</span>
