<div
    data-slot="empty"
    class="{{ cn('flex min-w-0 flex-1 flex-col items-center justify-center gap-6 rounded-lg border-dashed p-6 text-center text-balance md:p-12', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
