{% props
    variant = 'default',
%}

{% set emptyMediaVariants = cva({
    base: 'flex shrink-0 items-center justify-center mb-2 [&_svg]:pointer-events-none [&_svg]:shrink-0',
    variants: {
        variant: {
            default: 'bg-transparent',
            icon: 'bg-muted text-foreground flex size-10 shrink-0 items-center justify-center rounded-lg [&_svg:not([class*="size-"])]:size-6',
        },
    },
    defaultVariants: {
        variant: 'default',
    },
}) %}

<div
    data-slot="empty-icon"
    data-variant="{{ variant }}"
    class="{{ cn(emptyMediaVariants.apply({ variant }), attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
