<div
    data-slot="item-content"
    class="{{ cn('flex flex-1 flex-col gap-1 [&+[data-slot=item-content]]:flex-none', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
