{% props
    inset = false,
    type = 'button',
%}

{% set insetAttribute = inset ? 'true' : null %}

<button
    type="{{ type }}"
    role="menuitem"
    data-slot="menubar-sub-trigger"
    {% if insetAttribute %}data-inset="{{ insetAttribute }}"{% endif %}
    class="{{ cn('focus:bg-accent focus:text-accent-foreground data-[state=open]:bg-accent data-[state=open]:text-accent-foreground flex cursor-default items-center rounded-sm px-2 py-1.5 text-sm outline-none select-none data-[inset]:pl-8', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
    <twig:ux:icon name="lucide:chevron-right" class="ml-auto size-4" />
</button>
