<nav
    role="navigation"
    aria-label="pagination"
    data-slot="pagination"
    class="{{ cn('mx-auto flex w-full justify-center', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</nav>
