{% props
    delayDuration = 0,
%}

<div
    data-slot="tooltip-provider"
    data-delay-duration="{{ delayDuration }}"
    class="{{ cn(attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
