<span
    aria-hidden="true"
    data-slot="pagination-ellipsis"
    class="{{ cn('flex size-9 items-center justify-center', attributes.render('class')) }}"
    {{ attributes }}
>
    <twig:ux:icon name="lucide:more-horizontal" class="size-4" />
    <span class="sr-only">More pages</span>
</span>
