{% set contentClass = attributes.render('class') %}
{% set forwardedAttributes = attribute(attributes, 'without', ['class']) ?? attributes %}

<div
    data-slot="accordion-content"
    class="data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm"
    {{ forwardedAttributes }}
>
    <div class="{{ cn('pt-0 pb-4', contentClass) }}">
        {% block content %}{% endblock %}
    </div>
</div>
