<div
    data-slot="alert-dialog-footer"
    class="{{ cn('flex flex-col-reverse gap-2 sm:flex-row sm:justify-end', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
