<div
    data-slot="alert-dialog-header"
    class="{{ cn('flex flex-col gap-2 text-center sm:text-left', attributes.render('class')) }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
