{% set forwardedAttributes = attribute(attributes, 'without', ['class']) ?? attributes %}

<div
    data-slot="scroll-area-viewport"
    class="{{ cn(
        'focus-visible:ring-ring/50 size-full rounded-[inherit] transition-[color,box-shadow] outline-none focus-visible:ring-[3px] focus-visible:outline-1',
        attributes.render('class')
    ) }}"
    {{ forwardedAttributes }}
>
    {% block content %}{% endblock %}
</div>
